{% extends 'public/book/base.html' %} 
{% block title %} 
Bookstore Management System 
{% endblock %} 
{% block main %}
<script src="{{ url_for('static', filename='js/script_api.js') }}"></script>
<div class="container text-center" id="api_top">
  <div class="row">
    <div class="col-12">
      <h2 class="my-header fw-bold mb-2 text-center py-4">REST API</h2> 
      <hr class="my-hr" />
    </div>
  </div>
  <div class="row">
    <div class="col-2"><b>Method</b></div>
    <div class="col-8">&nbsp;</div>
    <div class="col-2"><b>Action</b></div>
  </div>
  <div class="row">
    <div class="col-2">&nbsp;</div>
    <div class="col-8 text-left" id="message">&nbsp;</div>
    <div class="col-2">&nbsp;</div>
  </div>
  <div class="row">
    <div class="col-2">GET</div>
    <div class="col-8">&nbsp;</div>
    <div class="col-2">
      <button class="btn btn-outline-light btn-sm" id="get_all_books" style="width: 140px"><i class="fa-solid fa-magnifying-glass"></i> Get all</button>
    </div>
  </div>
  <div class="row">
    <div class="col-12"><hr class="my-hr2" /></div>
  </div>
  <div class="row">
    <div class="col-2">GET</div>
    <div class="col-8"><input type="text" class="form-control form-control-sm" id="get_book_uuid" placeholder="book uuid..." /></div>
    <div class="col-2">
      <button class="btn btn-outline-light btn-sm" id="get_one_book" style="width: 140px"><i class="fa-solid fa-magnifying-glass"></i> Get 1</button>
    </div>
  </div>
  <div class="row">
    <div class="col-12"><hr class="my-hr2" /></div>
  </div>
  <div class="row">
    <div class="col-2">POST</div>
    <div class="col-8 d-flex justify-content-center"><input type="text" class="form-control form-control-sm" id="add_book_title" placeholder="title..." /></div>
    <div class="col-2">&nbsp;</div>
  </div>
  <div class="row">
    <div class="col-2">&nbsp;</div>
    <div class="col-8 d-flex justify-content-center"><input type="text" class="form-control form-control-sm" id="add_book_author" placeholder="author..." /></div>
    <div class="col-2">&nbsp;</div>
  </div>
  <div class="row">
    <div class="col-2">&nbsp;</div>
    <div class="col-8 d-flex justify-content-center"><input type="text" class="form-control form-control-sm" id="add_book_description" placeholder="description..." /></div>
    <div class="col-2">&nbsp;</div>
  </div>
  <div class="row">
    <div class="col-2">&nbsp;</div>
    <div class="col-8 d-flex justify-content-center"><input type="number" min="0" class="form-control form-control-sm" id="add_book_quantity" placeholder="quantiy..." /></div>
    <div class="col-2">
      <button class="btn btn-outline-light btn-sm" id="add_one_book" style="width: 140px"><i class="fa-solid fa-plus"></i> Add 1</button>
    </div>
  </div>
  <div class="row">
    <div class="col-12"><hr class="my-hr2" /></div>
  </div>
  <div class="row">
    <div class="col-2">PUT</div>
    <div class="col-8 d-flex justify-content-center"><input type="text" class="form-control form-control-sm" id="update_book_uuid" placeholder="uuid..." readonly /></div>
    <div class="col-2">&nbsp;</div>
  </div>
  <div class="row">
    <div class="col-2">&nbsp;</div>
    <div class="col-8 d-flex justify-content-center"><input type="text" class="form-control form-control-sm" id="update_book_title" placeholder="author..." /></div>
    <div class="col-2">&nbsp;</div>
  </div>
  <div class="row">
    <div class="col-2">&nbsp;</div>
    <div class="col-8 d-flex justify-content-center"><input type="text" class="form-control form-control-sm" id="update_book_author" placeholder="author.." /></div>
    <div class="col-2">&nbsp;</div>
  </div>
  <div class="row">
    <div class="col-2">&nbsp;</div>
    <div class="col-8 d-flex justify-content-center"><input type="text" class="form-control form-control-sm" id="update_book_description" placeholder="description..." /></div>
    <div class="col-2">&nbsp;</div>
  </div>
  <div class="row">
    <div class="col-2">&nbsp;</div>
    <div class="col-8 d-flex justify-content-center"><input type="number" class="form-control form-control-sm" id="update_book_quantity" placeholder="quantity..." /></div>
    <div class="col-2">
      <button class="btn btn-outline-light btn-sm" id="update_one_book" style="width: 140px"><i class="fa-regular fa-pen-to-square"></i> Update 1</button>
    </div>
  </div>
  <div class="row">
    <div class="col-12"><hr class="my-hr2" /></div>
  </div>
  <div class="row">
    <div class="col-2">DELETE</div>
    <div class="col-8"><input type="text" class="form-control form-control-sm" id="delete_book_uuid" placeholder="book uuid..." /></div>
    <div class="col-2">
      <button class="btn btn-outline-light btn-sm" id="delete_one_book" style="width: 140px"><i class="fa-regular fa-trash-can"></i> Delete 1</button>
    </div>
  </div>
  <div class="row">
    <div class="col-12"><hr /></div>
  </div>
  <div class="row py-2">
    <div class="col-12 d-flex justify-content-between">
      <b>JSON output</b>   <a href="#api_top"><i class="fa-solid fa-up-long"></i> Top</a>
    </div>
  </div>
  <div class="row">
    <div class="col-12"><textarea class="form-control form-control-sm" id="json_result" rows="12" readonly> </textarea></div>
  </div>
</div>
{% endblock%} {% block footer %} {% endblock %}