{% extends 'public/book/base.html' %} 
{% block title %} 
Bookstore Management System 
{% endblock %} 
{% block stylesheet %} 
{% endblock %} 
{% block main %}
<div class="container py-4" style="width: 40%">
  <div class="row mb-3">
    <div class="col-sm-12 text-center">
      <h2 class="my-header fw-bold mb-2 text-center py-4">{% if book_action != "add" %}Edit book{% else %}Add new book{% endif %}</h2>
{% with messages = get_flashed_messages() %}
  {% if messages %}
          <ul class="flashes list-unstyled">
    {% for message in messages %}
              <li><h6>{{ message |safe }}</h6></li>
    {% endfor %}
          </ul>
  {% endif %}
{% endwith %}
    </div>
  </div>
  <form action="/book/form" method="post">
    <div class="row mb-3">
      <label for="title" class="col-sm-3 col-form-label">Title </label>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="title" name="title" value="{{ book_dictionary.title }}" maxlength="255" placeholder="Enter Title ..." required />
      </div>
    </div>
    <div class="row mb-3">
      <label for="author" class="col-sm-3 col-form-label">Author</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="title" name="author" value="{{ book_dictionary.author }}" maxlength="255" placeholder="Enter author ..." required/>
      </div>
    </div>
    <div class="row mb-3">
      <label for="description" class="col-sm-3 col-form-label">Description</label>
      <div class="col-sm-9">
        <textarea class="form-control sm-2" id="description" name="description" rows="5" maxlength="600" placeholder="Enter description ..."  required>{{ book_dictionary.description }}</textarea>
      </div>
    </div>
    <div class="row mb-3">
      <label for="quantity" class="col-sm-3 col-form-label">Quantity</label>
      <div class="col-sm-9">
        <input type="number" class="form-control" id="quantity" name="quantity" value="{{ book_dictionary.quantity }}" min="0" placeholder="Enter quantity ..." required />
      </div>
    </div>
{% if book_action != "add" %}
    <div class="row mb-3">
      <label for="quantity" class="col-sm-3 col-form-label">Created on</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="created_date" name="created_date" value="{% if 'created_date' in book_dictionary %}{{ book_dictionary.created_date|datetime }}{% endif %}" disabled />
      </div>
    </div>
    <div class="row mb-3">
      <label for="quantity" class="col-sm-3 col-form-label">Updated on</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="updated_date" name="updated_date" value="{% if 'updated_date' in book_dictionary %}{{ book_dictionary.updated_date|datetime }}{% endif %}" disabled />
      </div>
    </div>
{% endif %}
    <div class="row mb-3">
      <div class="col-sm-12 text-center">
        {% if book_action != "add" %}<input type="hidden" name="book_id" value="{{ book_dictionary.book_id }}">{% endif %}
        <input type="hidden" name="book_action" value="{% if book_action %}{{ book_action }}{% else %}add{% endif %}">
        <button  class="btn btn-outline-light btn-sm" type="submit" style="width:140px" name="book_action_save" value="{% if book_action %}{{ book_action }}{% else %}add{% endif %}">SAVE</button>
      </div>
    </div>
  </form>
</div>
{% endblock %}
{% block footer %}
{% endblock %}